
html,body {
    margin: 0;
    padding: 0;
    background-color: #1D345E;
}
.header-container {
height: 200px;
background-color: #1D345E;
padding-left: 0;
padding-right: 0; 
margin: 0;
width: 100vw;

}
.container-fluid {
    padding-left: 0 ;
    padding-right: 0 ;
    position: relative;
  
}
.header-content{
    display: flex;
    justify-content: space-between;
    padding: 10px;  

}
.header-left{
    color: white;
    font-weight: bold;
    margin-top: 50px; 
    margin-left: 155px;
}
.header-right{
    color: white;
    font-weight: bold; 
    margin-top: 50px;
    margin-right: 180px;
    
}


.filter-btn {
  background-color: white;    
  color: black;                 
  font-size: 18px;              
  padding: 10px 20px;           
  border-radius: 8px;           
  border: none;
  width: 100px;
  position: absolute;
  top: 0%;
}
.dropdown-menu{
    height: auto;
    
}


.filter-btn:hover {
  background-color: #162A4D;    
  color: #fff;
}

.table-container{
    width: 800px;
    height: 500px;
    position: absolute;
    top: 25%;
    left: 18%;
    border-radius: 10px;
    overflow-y: scroll;
    scrollbar-width: none; 
    color: black;
}
.table-container::-webkit-scrollbar {
  display: none;               
}

table th, table td {
    width: 300px; 
    height: 100px;
    border-bottom: 1px solid white;
    padding: 20px;
    white-space: nowrap;  
    text-align: center;
  }
table{
    border-radius: 12px; 
    width: 100%;
    
}
table th{
    background-color: #162A4D;
    color:white;
    position: sticky;
    top: 0;
    z-index: 2;
}
table td{
    background-color: #162A4D;
    color:white;
    

}
