{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--bootstrap links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Free Class Finder</title>
</head>
<body>
        <div class="container-fluid">
            <!-- ---header----- -->
            <div class="header-container">
                <div class="header-content">
                    <div class="header-left ">
                        <h2 class="fw-bold text-uppercase fst-italic">Free Class</h2>
                        <h5>Status finder</h5>
                    </div>
                    <div class="header-right">
                        <h5 class="fw-bold text-uppercase fst-italic">BLOCK : {{ block }} <br>Time : {{ time }}</h5>
                        <div class="dropdown">
                            <a class="btn dropdown-toggle filter-btn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Filter
                            </a>
                             <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'all_classes' %}?block={{ block }}&day={{ day }}&time={{ time }}">All</a></li>
                                <li><a class="dropdown-item" href="{% url 'available_classes' %}?block={{ block }}&day={{ day }}&time={{ time }}">Available</a></li>
                                <li><a class="dropdown-item" href="{% url 'occupied_classes' %}?block={{ block }}&day={{ day }}&time={{ time }}">Occupied</a></li>

                            </ul>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                    <th>Time</th>
                    <th>Class Type</th>
                    <th>Room No</th>
                    <th>Floor</th>
                    <th>Block</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
        {% if classes %}
            {% for c in classes %}
                <tr>
                    <td>{{ c.Time }}</td>
                    <td>{{ c.Room_Type }}</td>
                    <td>{{ c.Room_No }}</td>
                    <td>{{ c.Floor }}</td>
                    <td>{{ c.Block }}</td>
                    {% if not c.is_occupied %}
                        <td><span class="badge bg-danger">{{ c.Room_Status }}</span></td>
                    {% else %}
                        <td><span class="badge bg-success">{{ c.Room_Status }}</span></td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6" class="text-center text-danger fw-bold">NO FREE FOUND!</td>
            </tr>
            {% endif %}
            </tbody>
            </table>          
        </div>  
        
   
        
 
        


    
   


    <!-- bootsrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>

</body>
</html>